= form_for @art do |f|
  -if @art.errors.any?
    #error_explanation
      %h2= "#{pluralize(@art.errors.count, "error")} prohibited this art from being saved:"
      %ul
        - @art.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :medium
    = f.text_area :medium
  .field
    = f.label :image_url
    = f.text_field :image_url
  .field
    = f.label :created
    = f.date_select :created
  .field
    = f.label :artist_id
    = f.number_field :artist_id
  .actions
    = f.submit 'Save'
